.form-heading {
    position: absolute;
    left: 2.5rem;
    font-weight: 600;
    padding: .2rem;
    padding-left: 0;
    border-bottom: 2px solid rgb(239, 100, 100);
    top: 1rem;
}

.apply {
    overflow: auto;
    width: 100%;
    height: 95%;
    margin-top: 2rem;
}

.apply form {
    margin: 0 auto;
    padding: 0 !important;
    width: 50vw !important;
    display: flex;
    padding-top: 1rem !important;
    gap: 0.8rem;
    flex-direction: column;
    overflow: auto;
}

.form-popup .form-row:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;


}
.form-popup .form-row:first-child,
.form-popup .form-row:nth-child(3),
.form-popup .form-row:nth-child(4),
.form-popup .form-row:nth-child(5),
.form-popup .form-row:nth-child(6) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}


.form-popup .form-row:nth-child(7) {
    display: grid;
    grid-template-columns: 4vw 20vw;
    align-items: center;
}



.apply-file-input {
    display: flex;
    align-items: center;
    width: 20vw;
}

.apply-file-input input[type="file"] {
    border: none !important;
    width: 9vw;
    background: none !important;
    opacity: 1;

}

.apply-file-input input[type="file"]::before {
    content: "Upload resume";
    font-size: .7rem;
    font-weight: 500;
}


/* Row 8 - Cloud Upload Icon */
.form-popup .form-row:nth-child(7) img {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.apply input,
.apply select,
.apply textarea {
    padding: 0.5rem 1rem !important;
    background: #ffecec !important;
    border: none;
    outline: none;
}

.form-row button {
    padding: .7rem 4rem !important;
}

@media screen and (max-width:724px) {
    .form-popup .form-row {
        grid-template-columns: 1fr !important;
    }

    .apply {
        width: 100vw;
        height: 80vh;
        padding-top: 0;
    }

    .form-popup .form-row:nth-child(7) {
        grid-template-columns: 15vw 70vw !important;
    }
}